artifacts/
cache/
crytic-export/
node_modules/
typechain/
foundry-out/
.vscode/
.DS_Store
.idea

# Ignores development broadcast logs
!/broadcast
/broadcast/*

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

